DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,host.docker.internal

CASSANDRA_HOSTS=127.0.0.1
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=django_platform
CASSANDRA_LOCAL_DC=datacenter-1

SERVE_HOST=0.0.0.0
SERVE_PORT=8000