anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1783889660/work
asgiref @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_asgiref_1770273198/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
backports.zstd @ file:///D:/bld/bld/rattler-build_backports.zstd_1781450835/work
Brotli @ file:///D:/bld/brotli-split_1764017006836/work
cassandra-driver @ file:///D:/bld/bld/rattler-build_cassandra-driver_1783786462/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1784717589373/work/certifi
cffi @ file:///D:/bld/cffi_1785810908734/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1783505251992/work
click @ file:///D:/bld/bld/rattler-build_click_1783085395/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
cryptography @ file:///D:/bld/cryptography-split_1785640642028/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1768934076236/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1780757126488/work
django-cors-headers @ file:///home/conda/feedstock_root/build_artifacts/django-cors-headers_1758205387979/work
django-filter @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_django-filter_1783860348/work
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1785942463167/work
djangorestframework_simplejwt @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_djangorestframework_simplejwt_1770309339/work
docopt @ file:///home/conda/feedstock_root/build_artifacts/docopt_1733817844261/work
drf-spectacular @ file:///home/conda/feedstock_root/build_artifacts/drf-spectacular_1783356562549/work
elastic-transport @ file:///home/conda/feedstock_root/build_artifacts/elastic-transport_1781686164261/work
elasticsearch @ file:///home/conda/feedstock_root/build_artifacts/elasticsearch_1779875344310/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
fastavro @ file:///D:/bld/bld/rattler-build_fastavro_1777299130/work
geomet @ file:///home/conda/feedstock_root/build_artifacts/geomet_1700032091293/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1785796355/work
hdfs @ file:///home/conda/feedstock_root/build_artifacts/python-hdfs_1733907279688/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1782283902770/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1781620148/work
inflection @ file:///home/conda/feedstock_root/build_artifacts/inflection_1734732140003/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1760831328738/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1767839954/work
jsonschema-specifications @ file:///tmp/tmptzik3dqa/src
numpy @ file:///D:/bld/bld/rattler-build_numpy_1779169235/work/dist/numpy-2.4.6-cp311-cp311-win_amd64.whl#sha256=1f5fa3c853dd01b13cacc0fd3cfdc827bb2f4cf73638f3949fcee463a6dc8304
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1785888127/work
pandas @ file:///D:/bld/bld/rattler-build_pandas_1785276282/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pluggy_1764896838/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1785015982725/work
pyarrow @ file:///D:/bld/apache-arrow_1784258065010/work/python
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1779293633/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyjwt_1779400286/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pyspnego @ file:///D:/bld/pyspnego_1772896706903/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytest_1782127176/work
pytest-django @ file:///home/conda/feedstock_root/build_artifacts/pytest-django_1785972234203/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1772388605/work
PyYAML @ file:///D:/bld/pyyaml_1770223251282/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1760379115/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
requests-kerberos @ file:///D:/bld/requests-kerberos_1726948720695/work
rpds-py @ file:///D:/bld/bld/rattler-build_rpds-py_1782831456/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ruamel.yaml_1767538149/work
ruamel.yaml.clib @ file:///D:/bld/bld/rattler-build_ruamel.yaml.clib_1766159555/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_sqlparse_1766143791/work
sspilib @ file:///D:/bld/sspilib_1770027303132/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1783002732/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1783704735836/work
uritemplate @ file:///home/conda/feedstock_root/build_artifacts/uritemplate_1748892307961/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1778188571305/work
waitress @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_waitress_1767728718/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wrapt @ file:///D:/bld/wrapt_1785422073059/work
